*.cmd
*.kdev4
*.log
*.7z

data/*
flags/*
logs/*
__pycache__/*
trash/*
.idea/*
tests/__pycache__/*
alembic/__pycache__/*
alembic/versions/__pycache__/*
config.json
config.json.*
config.main.json
unittest_config.json
unittest_bad_config.json
try_config.json
*.db
GPL-3
.Xauthority
.bash*
.cache/*
.config/*
.gitconfig
.lesshst
.local/*
.profile
.selected_editor
.ssh/*
env/*